<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uti</key>
		<array>
			<string>public.c-source</string>
		</array>
		<key>uncrustify</key>
		<string>C</string>
		<key>name</key>
		<string>C</string>
	</dict>
	<dict>
		<key>uti</key>
		<array>
			<string>public.c-plus-plus-source</string>
		</array>
		<key>uncrustify</key>
		<string>CPP</string>
		<key>name</key>
		<string>C++</string>
	</dict>
	<dict>
		<key>uti</key>
		<array>
		</array>
		<key>uncrustify</key>
		<string>CS</string>
		<key>name</key>
		<string>C#</string>
	</dict>
	<dict>
		<key>uti</key>
		<array>
			<string>public.d-source</string>
		</array>
		<key>uncrustify</key>
		<string>D</string>
		<key>name</key>
		<string>D</string>
	</dict>
	<dict>
		<key>uti</key>
		<array>
			<string>com.netscape.javascript-source</string>
		</array>
		<key>uncrustify</key>
		<string>ECMA</string>
		<key>name</key>
		<string>ECMA Script</string>
	</dict>
	<dict>
		<key>uti</key>
		<array>
			<string>com.sun.java-source</string>
		</array>
		<key>uncrustify</key>
		<string>JAVA</string>
		<key>name</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>uti</key>
		<array>
			<string>public.objective-c-source</string>
			<string>public.c-header</string>
		</array>
		<key>uncrustify</key>
		<string>OC</string>
		<key>name</key>
		<string>Objective-C</string>
	</dict>
	<dict>
		<key>uti</key>
		<array>
			<string>public.objective-c-plus-plus-source</string>
			<string>public.c-plus-plus-header</string>
		</array>
		<key>uncrustify</key>
		<string>OC+</string>
		<key>name</key>
		<string>Objective-C++</string>
	</dict>
	<dict>
		<key>uti</key>
		<array>
		</array>
		<key>uncrustify</key>
		<string>PAWN</string>
		<key>name</key>
		<string>Pawn</string>
	</dict>
	<dict>
		<key>uti</key>
		<array>
		</array>
		<key>uncrustify</key>
		<string>VALA</string>
		<key>name</key>
		<string>Vala</string>
	</dict>
	
	
</array>
</plist>
