<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uncrustify</key>
		<string>C</string>
		<key>name</key>
		<string>C</string>
	</dict>
	<dict>
		<key>uncrustify</key>
		<string>CPP</string>
		<key>name</key>
		<string>C++</string>
	</dict>
	<dict>
		<key>uncrustify</key>
		<string>CS</string>
		<key>name</key>
		<string>CS</string>
	</dict>
	<dict>
		<key>uncrustify</key>
		<string>D</string>
		<key>name</key>
		<string>D</string>
	</dict>
	<dict>
		<key>uncrustify</key>
		<string>JAVA</string>
		<key>name</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>uncrustify</key>
		<string>OC</string>
		<key>name</key>
		<string>Objective-C</string>
	</dict>
	<dict>
		<key>uncrustify</key>
		<string>OC+</string>
		<key>name</key>
		<string>Objective-C++</string>
	</dict>
	<dict>
		<key>uncrustify</key>
		<string>PAWN</string>
		<key>name</key>
		<string>Pawn</string>
	</dict>
	<dict>
		<key>uncrustify</key>
		<string>VALA</string>
		<key>name</key>
		<string>Vala</string>
	</dict>
</array>
</plist>
